{% extends "header.html" %}
{% block content %}
    <h1> Group Members: </h1>
    <h2> Tejas Latupalli, Jnanadeep Dandu, Peter Ho</h2>
    <h1> Description: </h1>
    <h2> 
        Our project is to create a website where users can easily save their texts and access them anywhere they would like.
        Users create an account and store their texts and label them so that they can login on any device and access them
        whenever they would like. Users can search for and find their texts quickly so that they can copy and paste them anywhere
        they would like to. 
    </h2>
{% endblock %}