{% extends "header.html" %}
{% block content %}
<body class = "bg-dark text-light">
<div class="row bg-dark text-light">
    <div class="col bg-dark text-light">
        <form action="/" class="form-group my-2 my-lg-0" method="POST">
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    {% for message in messages %}
                        <div class="alert alert-info">
                            {{ message }}
                        </div>
                    {% endfor %}
                {% endif %}
            {% endwith %}

            <!--<div class="mb-3">
                {{ form.csrf_token }}
                {{ form.search_query(class="form-control", placeholder="Search") }}

                {% if form.search_query.errors %}
                <div class="alert alert-warning" role="alert">
                   {% for error in form.search_query.errors %}
                    <span>{{ error }}</span>
                   {% endfor %}
                </div>
                {% endif %}

                {{ form.submit(class="btn btn-outline-success") }}
            </div>-->
            <div class="mb-3">
                {{ form2.csrf_token }}
                {{ form2.name(class="form-control", placeholder="Title") }}
                {% if form2.name.errors %}
                <div class="alert alert-warning" role="alert">
                   {% for error in form2.name.errors %}
                    <span>{{ error }}</span>
                   {% endfor %}
                </div>
                {% endif %}
            </div>
            <div class="mb-3">
                {{ form2.text(class="form-control", placeholder="Content") }}
                {{ form2.submit(class="btn btn-outline-success") }}
            </div>
        </form>
    </div>
</div>
<div class="row bg-dark text-light">
    <div class="col bg-dark text-light">
        {% if texts %}
        <h1> Texts <small class="float-right">{{ texts.count() }} texts</small></h1>
        <ul class="media-list">
            {% for text in texts | reverse %}
            <li class="media review-item">
                <div class="media-body">
                    <span class="float-right">
                        <small>{{ texts.date }}</small>
                    </span>
                    <p>
                        <a href="{{ url_for('texts.update_text', title=text.name) }}">{{ text.name }}</a>
                    </p>
                    <p>
                        {{ text.text }}
                    </p>
                </div>
            </li>
            {% endfor %}
        </ul>
        {% endif %}
    </div>
</div>
</body>
{% endblock %}