{% extends "header.html" %}
{% block content %}
<div class="row">
    <div class="col">
        {% if texts %}
        <h1> Texts <small class="float-right">{{ length }} texts</small></h1>
        <ul class="media-list">
            {% for text in texts | reverse %}
            <li class="media review-item">
                <div class="media-body">
                    <span class="float-right">
                        <small>{{ texts.date }}</small>
                    </span>
                    <p>
                        <a href="{{ url_for('texts.update_text', title=text.name) }}">{{ text.name }}</a>
                    </p>
                    <p>
                        {{ text.text }}
                    </p>
                </div>
            </li>
            {% endfor %}
        </ul>
        {% endif %}
    </div>
</div>
{% endblock %}