{% extends "header.html" %}
{% block content %}
<div class="row">
<!--    <div class="col">-->
<!--        <img class="propic" src="data:image/png;base64,{{image}}" alt="image">-->
<!--    </div>-->
    <div class="col">
        <h2>{{ username }}'s Texts</h2>
    </div>
</div>
<div class="row">
    <div class="col">
        <h1> Texts <small class="float-right">{{ texts.count() }} texts</small></h1>
        <ul class="media-list">
            {% for text in texts %}
            <li class="media review-item">
                <div class="media-body">
                    <span class="float-right">
                        <small>{{ texts.date }}</small>
                    </span>
                    <p>
                        {{ text.name }}
                    </p>
                    <p>
                        {{ text.text }}
                    </p>
                </div>
            </li>
            {% endfor %}
        </ul>
    </div>
</div>
{% endblock %}